.multi-kpi-container{
  width: 480px;
  height: 320px;
}

@media (min-width: 992px) {
  .multi-kpi-container{
    width: 640px;
    height: 480px;
  }
}

@media (min-width: 1200px) {
  .multi-kpi-container{
    width: 720px;
    height: 640px;
  }
}