:root{
  --spacing-xs: 0.5rem;
  --spacing: 1rem;
  --spacing-m: 3rem;
  --spacing-l: 5rem;
  --spacing-xl: 8rem;
  --spacing-xxl: 12rem;
  --spacing-xxxl: 16rem;

  --font-sz-xs: 0.75rem;
  --font-sz-sm: 0.875rem;

  --white: #FFF;
  --light-gray: #E7E5E4;
  --dark-gray: #A1A1A1;
  --gray: #F1F5F9;
  --dark: #18181b;
  --blue: #0d6efd;
  --green: #10b981;



}
