
:host ::ng-deep p-splitButton.shadowed:has(.p-button-warn){
  box-shadow: rgba(251, 146, 60, 0.56) 0px 1px 4px;
}

:host ::ng-deep p-splitButton.shadowed:has(.p-button-success){
  box-shadow: rgba(74, 222, 128, 0.56) 0px 1px 4px;
}

:host ::ng-deep p-splitButton.shadowed:has(.p-button-danger){
  box-shadow: rgba(248, 113, 113, 0.56) 0px 1px 4px;
}

:host ::ng-deep p-splitButton .p-button-contrast {
  color: var(--dark);
}

.w-fit {
  width: fit-content;
}